* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 243, 243);
}

button {
  background-color: white;
  border: solid 1px black;
  border-radius: 3px;
  box-shadow: 0 0 3px black;
}

button:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

.pomodoro-wrapper {
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background-color: white;
  box-shadow: 0 0 10px black;
}

.break-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.session-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controls-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 16px;
  }
}

.controls-wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    font-size: 24px;
  }
  
  button {
    width: 20px;
    font-size: 16px;
    font-weight: bold;
  }
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  #time-left {
    font-size: 44px;
  }

  button {
    font-weight: bold;
    padding: 2px;
  }
}